@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/typography" as *;
@use "./../../styles/partials/variables" as *;

*{
    padding: 0;
    margin: 0;
}
.EditWarehouse {
    padding: 2.5rem;
    margin: 1.5rem;
    position: relative;
    top: -6.5rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(1,1,1,0.1);
    @include desktop {
        margin:6rem;
        top: -9.5rem;
    }
    &__arrowBack {
        width: 1.5rem;
    }
    &__title {
        @include set-mobile-font("PageHeader");
        margin-bottom: 2rem;
        padding: 2rem;
        border-bottom: 1px solid $secondary-cloud;
        @include tablet {
            @include set-desktop-tablet-font("PageHeader")
        }
    }
    &__title--part {
        display: flex;
        align-items: baseline;
    }
    &__text {
        @include tablet {
            display: flex;
            justify-content: center;
            padding: 0 1rem;
        }
    }
    &__subtitle {
        @include set-mobile-font("SubHeader");
        margin-bottom: 1rem;
        @include tablet {
            @include set-desktop-tablet-font("SubHeader");
            margin-bottom: 1rem;
        }
    }
    &__details--warehouse {
        @include tablet {
            border-right: 1px solid $secondary-cloud;
            padding: 2rem;
            width: 50%;
        }
    }
    &__details--contact {
        @include tablet {
            border-left: 1px solid $secondary-cloud;
            padding: 2rem;
            width: 50%;
        }
    }
    &__input {
        width: 100%;
        height: 2.25rem;
        @include set-form-inputfeild-style("Mobile");
        padding-left: 1rem;
        margin-bottom: 1rem;
        @include tablet {
            @include set-desktop-tablet-font("LabelFont");
            padding-left: 1rem;
        }
    }
    &__label {
        @include set-mobile-font("LabelFont");
        font-weight: 600;
        @include tablet {
            @include set-desktop-tablet-font("LabelFont");
            font-weight: 600;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        @include tablet {
            position: absolute;
            right: 6rem;
        }
    }
    &__button--save {
        @include set-button-style("Mobile", $primary-instock-indigo);
        margin-right: 1rem;
        width: 40%;
        @include tablet {
            @include set-button-style("TabletDesktop", $primary-instock-indigo);
            width: 9rem
        }
    }
    &__button--cancel {
        @include set-button-style("Mobile", $primary-white);
        border-style: solid;
        color: $secondary-cloud;
        @include tablet {
            @include set-button-style("TabletDesktop", $primary-instock-indigo);
            width: 9rem;
        }
    }
}