@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.inventory-item {
  &__nav {
    border-bottom: 1px solid $secondary-cloud;
    padding-left: $m-margin;
    padding-right: $m-margin;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    // padding-top: 2rem;
  }

  &__back {
    display: flex;
  }

  &__edit {
    display: flex;
    margin-right: 2rem;

    @include tablet {
      margin-right: 3rem;
    }
  }

  &__editIcon {
    padding: 2rem;
  }

  &__title {
    // @include set-mobile-font("PageHeader");
    padding-left: 1rem;
  }

}

.inventory-description {
  padding-left: $m-margin;
  padding-right: $m-margin;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.box-two {
  width: 15rem;
  height: 15rem;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding-left: 5%;
    padding-right: 5%;
    border-left: 1px solid $secondary-cloud;
    width: 25rem;
    height: 15rem;
  }

  @include desktop {
    width: 35rem;
    height: 15rem;
  }
}

.heading {
  padding-bottom: 0.1rem;
  color: $secondary-slate;
  font-weight: 600;
}

.status {
  padding-bottom: 0.1rem;
  color: $secondary-slate;
  font-weight: 600;

  &.in-stock {
    @include set-font(10px, normal, normal);
    color: $green;
    background-color: rgba($green, 0.07);
    width: 60px;
    padding: 0.1rem;
    text-align: center;
    border-radius: 20px;

    @include tablet {
      @include set-font(12px, normal, normal);
      width: 60px;
    }
  }

  &.out-of-stock {
    @include set-font(10px, normal, normal);
    color: $red;
    background-color: rgba($red, 0.07);
    width: 60px;
    padding: 0.1rem 0.2rem;
    text-align: center;
    border-radius: 20px;

    @include tablet {
      @include set-font(12px, normal, normal);
      width: 80px;
    }
  }

}






//   &__divider {
//     @include tablet {
//       border-top: 1px solid $secondary-cloud;
//       transform: rotate(90deg);
//       width: 10rem;
//       position: relative;
//       left: 40%;
//       top: 5.5rem;
//     }
//   }

//   &__details-container {
//     padding: 0.5rem 1.2rem;
//     display: flex;
//     flex-wrap: wrap;
//     box-sizing: border-box;
//   }

//   &__information {
//     @include tablet {
//       width: 20rem;
//     }
//   }

//   &__details {
//     width: 100%;

//   }

//   &__details-status {
//     width: 40%;
//   }

//   &__details-quantity {
//     width: 40%;
//     padding-left: 15%;
//   }

//   &__subheading {
//     padding-bottom: 0.1rem;
//     color: $secondary-slate;
//     font-weight: 600;
//   }
// }

// .inventory__status {
//   font-weight: bold;
//   &.in-stock {
//     @include set-font(10px, normal, normal);
//       color: $green;
//       background-color: rgba($green, 0.07);
//       width: 60px;
//       padding: 0.1rem;
//       text-align: center;
//       border-radius: 20px;

//       @include tablet {
//         @include set-font(12px, normal, normal);
//         width: 60px;
//       }
//   }

//   &.out-of-stock {
//     @include set-font(10px, normal, normal);
//     color: $red;
//     background-color: rgba($red, 0.07);
//     width: 60px;
//     padding: 0.1rem 0.2rem;
//     text-align: center;
//     border-radius: 20px;

//     @include tablet {
//       @include set-font(12px, normal, normal);
//       width: 80px;
//     }
// }
// }