/*Tablet, Desktop breakpoint varibles*/
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Primary Colors */
$primary-instock-black: #13182C;
$primary-instock-indigo: #2E66E5;
$primary-white: #FFFFFF;

/* Secondary Colors */
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

/*Background colors*/
$background-graphite: #232940;
$background-light-grey: #F7F8F9;

/*Supporting Colors*/
$green: #158463;
$red: #C94515;

/*Margin and spacing varibles for all breakpoints*/
$m-margin: 1rem;
$t-margin: 2rem;
$d-margin: 8rem;
$m-spacing-between : 1.5rem;

/*Icons Path */
$plus-icon-url: ""; //we need to add plus svg
$search-icon-url: "./../src/assets/icons/search-24px.svg"; //check path while testing
$edit-icon-url: "./../src/assets/icons/edit-24px.svg"; //check path

