@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/typography" as *;
@use "./../../styles/partials/variables" as *;

* {
  padding: 0;
  margin: 0;
}
.new-inventory {
  padding: 2.5rem;
  margin: 1.5rem;
  position: relative;
  top: -6.5rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  @include desktop {
    margin: 6rem;
    top: -9.5rem;
  }

  &__nav {
    border-bottom: 1px solid $secondary-cloud;
    padding-left: $m-margin;
    padding-right: $m-margin;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
  }

  &__back {
    display: flex;
  }

  &__title {
    @include set-mobile-font("PageHeader");
    padding: 2rem;

    @include tablet {
      @include set-desktop-tablet-font("PageHeader");
    }
  }
  &__title--part {
    display: flex;
    align-items: baseline;
  }

  &__form {
    margin-top: 1rem;
  }
  &__text {
    padding-top: 1rem;
    @include tablet {
      display: flex;
      justify-content: center;
      padding: 0 1rem;
    }
  }
  &__subtitle {
    @include set-mobile-font("SubHeader");
    margin-bottom: 1rem;
    @include tablet {
      @include set-desktop-tablet-font("SubHeader");
      margin-bottom: 1rem;
    }
  }
  &__details--item {
    @include tablet {
      border-right: 1px solid $secondary-cloud;
      padding: 2rem;
      width: 50%;
    }
  }
  &__details--availablity {
    @include tablet {
      border-left: 1px solid $secondary-cloud;
      padding: 2rem;
      width: 50%;
    }
  }
  &__input {
    border: 1px solid $secondary-cloud;
    border-radius: 10px;
    width: 100%;
    height: 2.25rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    @include tablet {
      @include set-desktop-tablet-font("LabelFont");
      padding-left: 1rem;
    }
    &--custom-select {
      appearance: none;
      background-image: url("./../../assets/icons/arrow_drop_down-24px.svg");
      background-position: right center;
      background-repeat: no-repeat;
    }
  }
  &__label {
    @include set-mobile-font("LabelFont");
    font-weight: 600;
    @include tablet {
      @include set-desktop-tablet-font("LabelFont");
      font-weight: 600;
    }
    &--padding {
      padding-top: 1rem;
    }
  }
  &__body {
    padding-right: 3rem;
    &--grey {
      color: $secondary-slate;
    }
    &--padding {
      padding-left: 1rem;
    }
  }

  &__select {
    color: red;
  }
  &__button {
    display: flex;
    justify-content: space-around;
    background-color: $background-light-grey;
    @include tablet {
      position: absolute;
      right: 6rem;
    }
  }
  &__button--submit {
    @include set-button-style("Mobile", $primary-instock-indigo);
    margin-right: 1rem;
    width: 40%;
    @include tablet {
      @include set-button-style("TabletDesktop", $primary-instock-indigo);
      width: 9rem;
    }
  }
  &__button--cancel {
    @include set-button-style("Mobile", $primary-white);
    color: $primary-instock-black;
    border: 1px solid $secondary-cloud;

    width: 40%;
    @include tablet {
      @include set-button-style("TabletDesktop", $primary-white);
      color: $primary-instock-black;
      width: 9rem;
    }
  }
}
