@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;

.warehouse-list {
    background-color: $primary-white;
    border: 1px solid $primary-white;
    border-radius: 4px;
    position: relative;
    width: 90%;
    left: $m-margin;
    margin-top: -4.3rem;

    @include tablet {
        width: 92%;
        left: $t-margin;
    }

    @include desktop {
        width: 78%;
        left: $d-margin;
    }

    &__form {
        width: 85%;
        display: flex;
        flex-direction: column;
        margin-left: $m-margin;

        @include tablet {
            flex-direction: row;
            gap: 1rem;
            align-items: end;
            width: 100%;
        }

        @include desktop {
            margin: 0;
            margin-bottom: 0.6rem;
        }
    }

    &__title {
        @include set-mobile-font("PageHeader");
        margin-top: 2rem;
        margin-bottom: $m-margin;

        @include tablet {
            margin-left: 2rem;
            margin-right: 5rem;
        }

        @include desktop {
            margin-right: 19.5rem;
            margin-left: 2.5rem;
        }
    }

    &__search {
        @include set-form-inputfeild-style("Mobile");
        margin-bottom: $m-margin;
        @include set-icon-style($search-icon-url);

        @include tablet {
            @include set-form-inputfeild-style("Tablet");
            width: 11.5rem;
        }

        @include desktop {
            @include set-form-inputfeild-style("Desktop");
        }
    }

    &__button {
        @include set-button-style("Mobile", $primary-instock-indigo);
        margin-bottom: $m-margin;

        @include tablet {
            @include set-button-style("Tablet", $primary-instock-indigo);
            width: 10.5rem;
        }

        @include desktop {
            @include set-button-style("Desktop", $primary-instock-indigo);
            width: 10.5rem;
        }
    }

    &__list {
        @include set-mobile-font("BodySmallFont");
        padding: 0;

        @include tablet {
            margin: 0;

            :last-child {
                border: none;
            }
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        border-top: 1px solid $secondary-cloud;
        @include set-mobile-font("LabelFont");
        padding-bottom: 1.5rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 1rem 2rem;
            margin: 0;
            border-top: none;
            border-bottom: 1px solid $secondary-cloud;
        }

        @include desktop {
            margin-left: 0.8rem;
        }

        &:hover {
            background-color: $background-light-blue;            
        }
    }

    &__warehouse-row {
        display: flex;
        gap: 0.3rem;
    }

    &__right-image {
        width: 1.3rem;
    }

    &__actions-image {
        width: 1.5rem;
    }

    &__sort-icon {
        width: 1rem;
    }

    &__warehouse {
        width: 45%;
        margin-left: $m-margin;
        margin-top: $m-margin;
        color: $primary-instock-indigo;
        font-weight: 600;

        @include tablet {
            width: 20%;
            margin: 0;
            align-self: center;
        }

        @include desktop {
            width: 25%;
        }
    }

    &__name {
        width: 45%;
        margin-top: $m-margin;

        @include tablet {
            display: none;
        }
    }

    &__address {
        width: 45%;
        margin-left: $m-margin;

        @include tablet {
            display: none;
        }
    }

    &__address-tablet {
        display: none;

        @include tablet {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        @include desktop {
            width: 25%;
            flex-direction: row;
        }
    }

    &__name-tablet {
        display: none;

        @include tablet {
            width: 20%;
            display: flex;
            align-self: center;
        }

        @include desktop {
            width: 20%;
        }
    }

    &__contact-info {
        width: 45%;

        @include tablet {
            width: 30%;
            align-self: center;
        }

        @include desktop {
            width: 25%;
        }
    }

    &__actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 $m-margin;

        @include tablet {
            width: 8%;
            gap: 1rem;
            margin: 0;
            align-self: center;
        }

        @include desktop {
            width: 5%;
        }
    }

    &__actions-row {
        margin: 0 $m-margin;
    }

    &__label {
        @include set-mobile-font("TableHeader");
        color: $secondary-slate;
        font-weight: 600;

        @include tablet {
            display: none;
        }
    }

    &__table-headings {
        display: none;

        @include tablet {
            display: flex;           
            background-color: $background-light-grey;
            color: $secondary-slate;
            @include set-desktop-tablet-font("TableHeader");
            font-weight: 600;
            padding: 0.5rem 2rem;
        }

        @include desktop {
            padding: 0.8rem 2rem;
            margin-left: 0.8rem;
        }
    }

    //Table Heading styling for tablet and desktop views
    &__column-warehouse {
        display: flex;
        width: 20%;
        gap: 0.3rem;

        @include desktop {
            width: 25%;
        }
    }

    &__column-address {
        display: flex;
        width: 20%;
        gap: 0.3rem;

        @include desktop {
            width: 25%;
        }
    }

    &__column-name {
        display: flex;
        width: 20%;
        gap: 0.3rem;

        @include desktop {
            width: 20%;
        }
    }

    &__column-information {
        display: flex;
        width: 30%;
        gap: 0.3rem;

        @include desktop {
            width: 25%;
        }
    }

    &__column-actions {
        display: flex;
        width: 8%;
        gap: 0.3rem;

        @include desktop {
            width: 5%;
        }
    }
}

/**------------------------------------------------------------------------------------------------------
Added styling for Delete Custom model box
---------------------------------------------------------------------------------------------------------*/
/* Styles for Modal Container */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  }

.delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding: 4%;
    background-color: $primary-white;
   // box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);

    @include tablet {
        margin: auto;
        width: 77%;
        padding: 2% 2% 4% 8%;
        border-radius: 4px;
        margin-left: 10%;

        @include desktop {
            width: 50%;
            padding: 1% 1% 2% 4%;
            margin-left: 25%;
        }
    }

    &__close-icon {
        height: 25px;
        margin-left: auto;
    }

    &__text-container {
        margin: 0;
        margin-bottom: 100vw;    

        @include tablet {
            margin-bottom: 0;
            width: 90%;
        }
    }

    &__title {
        @include tablet {
            margin: 0 0;
            font-size: 1.9rem;
        }
    }

    &__subtitle {
        @include tablet {
            width: 91%;

            font-size: 0.96rem;
            margin-bottom: 10%;
        }
    }

    &__button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @include tablet {
            align-items: right;
            margin-left: auto;
            width: 30%;
            justify-content: space-between;

            @include desktop {
                padding-right: 6%;
            }
        }       
    }
}

