@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;
@use "./../../styles/partials/variables" as *;
@use "./../../styles/partials/typography" as *;

.selected-warehouse {
  background-color: $primary-white;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding: 0;
  margin: -4.4rem 1rem 0 1rem;
  position: relative;
  z-index: 1;

  @include tablet {
      margin: -5.2rem 2rem 0 2rem;
  }

  @include desktop {
      margin: -5.2rem 8rem 0 8rem;
  }

  &__nav {
    border-bottom: 1px solid $secondary-cloud;
    padding-left: $m-margin;
    padding-right: $m-margin;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
  }
  &__link-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #2E66E6;
  }
  &__editIcon {
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  &__back {
    display: flex;
  }

  &__edit {
    display: flex;
    margin-right: 2rem;

    @include tablet {
      margin-right: 3rem;
    }
  }

  &__title {
    @include set-mobile-font("PageHeader");
    padding-left: 1rem;
  }
  &__details {
    @include set-mobile-font("LabelFont");
  }

  &__informaion {
    padding-left: $m-margin;
    border-bottom: 1px solid $secondary-cloud;
    padding: 0 2rem;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: none;
    }
  }

  &__address-container {
    @include tablet {
      // margin-top: 2rem;
      width: 30%;
    }
  }
  &__address-group {
    display: flex;
    gap: 0.2rem;
    @include tablet {
      display: block;
      gap: 0;
    }
  }

  &__contact-container {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

    @include tablet {
      width: 80%;
      margin: 2rem 2rem 2rem 7rem;
      border-left: 1px solid $secondary-cloud;
    }

    @include desktop {
      margin-left: 15rem;
    }
  }
  &__contact-name {
    @include tablet {
      padding-left: 2rem;
    }
  }

  &__hr {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__contact-info {
    padding-right: 2rem;

    @include tablet {
      // padding-right: 8rem;
    }

    @include desktop {
      // padding-right: 15rem;
    }
  }

  &__subtitle {
    @include set-mobile-font("BodyMediumFont");
    color: $secondary-slate;
  }
}
