@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;
@use "./../../styles/partials/typography" as *;
@use "./../../styles/partials/variables" as *;

.header {
  background-color: $background-graphite;
  height: 12.5rem;
  position: relative;

  @include tablet {
    height: 10rem;
  }

  @include desktop {
    height: 11.5rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.8rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    margin-left: $t-margin;
    margin-right: 0.8rem;
  }

  @include desktop {
    margin: 0 $d-margin;
  }

  &__logo {
    height: 1.8rem;
  }

  &__page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;

    @include tablet {
      justify-content: end;
    }
  }

  &__logo-link {
    padding-top: $m-spacing-between;
    padding-bottom: 1rem;
  }

  &__title {
    color: $secondary-cloud;
    text-decoration: none;
    padding-top: 0.3rem;
    width: 9rem;
    text-align: center;
    height: 2rem;
    @include set-mobile-font("LabelFont");

    @include tablet {
      width: 6.5rem;
      height: 2.5rem;
      padding-top: 0.5rem;
      text-align: center;
      @include set-desktop-tablet-font("LabelFont");
    }

    &:hover {
      text-decoration: underline;
      color: $primary-white;
    }
  }

  & .active {
    color: $primary-white;
    outline: none;
    background-color: $primary-instock-black;
    border-radius: 1.25rem;
    text-decoration: none;
  }
}