@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;




.header-background {
    background-color: $background-graphite;
    height: 250px;
}

.nav {
    box-sizing: border-box;
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 5%;
    }
    @include desktop {
        padding: 2% 10%;
    }

    &__logo {
        height: 40px;          
    }

    &__page {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%; 
        margin-top: 1rem; 
        text-decoration: none;
        @include tablet {
            justify-content: end;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        text-decoration: none;
        color: $secondary-cloud;
        width: 150px;
        height: 35px;
        border-radius: 15px;
        text-align: center;
        font-size: 18px;
        &:hover{
            text-decoration: underline;
            color: $primary-white;
        }
        &:active {
            color: $primary-white;
            background-color: $primary-instock-black;
            text-decoration: none;
        }

    }

    &__link-active {
        color: $primary-white;
        background-color: $primary-instock-black;
        text-decoration: none;
    
        &:hover {
          text-decoration: none;
        }
      }  
        
 }
    

