@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "./../../styles/partials/mixins-mobile" as *;
@use "./../../styles/partials/mixins-desktop-tablet" as *;

.footer {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    color: $secondary-slate;
    background-color: $background-light-grey;
    @include set-mobile-font("LabelFont");
  
    @include tablet {
      @include set-desktop-tablet-font("LabelFont");
      padding-top: 4rem;
    }
  
    @include desktop {
      padding-top: 8rem;
    }
  }