@use "./../src/styles/partials/typography" as *;

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "TitilliumWeb", sans-serif;
}

input,
button,
select,
textarea {
    font-family: inherit;
    /* Inherits font from parent (body) */
}