@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.warehouses-details-page {
    background-color: $background-light-grey;
}